body {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
}

.palette-wrap {
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #dd4837,orange,yellow,green, blue, violet);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.palette {
  height: 100vh;
  flex-grow: 1;
  flex-basis: 0;
}
/* 
#red {
  background: linear-gradient(to bottom, white, #dd4837, white);
}

#orange {
  background: linear-gradient(to bottom, white, orange, white);
}

#yellow {
  background: linear-gradient(to bottom, white, yellow, white);
}

#green {
  background: linear-gradient(to bottom, white, green, white);
}

#blue {
  background: linear-gradient(to bottom, white, blue, white);
}

#violet {
  background: linear-gradient(to bottom, white, violet, white);
} */
